<div class="container-fluid" *ngIf="comments$ | async as comments">
  <div class="d-flex justify-content-between">
    <h1>Comments</h1>
    <a
      class="btn btn-primary d-flex align-self-center"
      title="Add Comment"
      [routerLink]="['new']"
    >
      <i class="ti-plus"></i>
    </a>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>#ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.id }}</td>
        <td>{{ comment.name }}</td>
        <td>{{ comment.email }}</td>
        <td>{{ comment.body }}</td>
        <td>
          <a
            class="btn btn-primary mr-2"
            title="Edit comment"
            [routerLink]="[comment.id, 'edit']"
          >
            <i class="ti-pencil"></i>
          </a>
          <button class="btn btn-danger" title="Remove comment">
            <i class="ti-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
